/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-content {
  margin-left: 200px; /* Adjust based on the width of the nav */
  padding-top: 60px;  /* Adjust based on the height of the header */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px); /* Subtract header height */
  box-sizing: border-box;
}


/* Center content for each page */
.page-content {
  text-align: center;
}

